* {
  padding: 0;  
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', 'Segoe UI', Arial, sans-serif;

}
html,
body{
  height: 100%;
  width: 100%;
}
input{
  display: block;
}
#main {
  padding: 20px;
  height: 100%;
  width: 100%;
  background-color: #222;
}
.card{
  max-width:300px;
  color: white;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid #555;
 
}
.profile{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 7px;
  overflow: hidden;

}
.profile img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card h5{
  margin-top: 3px;
  margin-bottom: 5px;
}
.card{
  font-size: 12px;
  margin-top: 10px;
}
